<mat-toolbar color="primary">
    <!-- <mat-toolbar-row>
        <span>Custom Toolbar</span>
    </mat-toolbar-row> -->

    <!-- <mat-toolbar-row>
        <span>Second Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon">verified_user</mat-icon>
    </mat-toolbar-row> -->

    <mat-toolbar-row class="title">
        <span>Third Line</span>
        <span class="example-spacer"></span>
        <a routerLink="/profile"><mat-icon class="example-icon">person</mat-icon></a>
        <a routerLink="/logout"><mat-icon class="example-icon">power_settings_new</mat-icon></a>
    </mat-toolbar-row>
</mat-toolbar>